{% extends "recipeBase.html" %}

{% block content %}

<div class="recipe-details" style="text-align: center;margin: 40px;">
    {% for recipe in recipes %}
    <h1 class="section-title" style="text-align: left; margin-bottom: 8px;">Grocery List</h1>

    <!-- Ingredients section -->
    <h2 class="section-title" style="text-align: left; margin-bottom: 8px;">Ingredients</h2>
    <ul class="ingredient-list" style="text-align: left;">
        {% for ingredient in recipe.Ingredients.split('\r\n') %}
        <li><input type="checkbox">{{ ingredient }}</li>
        {% endfor %}
    </ul>

    <!-- Instructions Section -->
    <h2 class="section-title" style="text-align: left; margin-bottom: 8px;">Notes</h2>
    <ul class="ingredient-list" style="text-align: left;">
        {% for ingredient in recipe.Notes.split('\r\n') %}
        <li><input type="checkbox">{{ ingredient }}</li>
        {% endfor %}
    </ul>
    {% endfor %}
    <a href="{{ url_for('grocery') }}" class="btn btn-primary">
        <span class="glyphicon glyphicon-remove"></span> Return
    </a>
</div>

{% endblock %}